<!DOCTYPE HTML>
<html>
<head>
    <title>Product List</title>
</head>
<body>
    <h1>Products</h1>
    {% if products %}

    <ul>
        {% for product in products %}
        <li>
            <strong>{{product.name}}</strong><br />
            Price: ${{ product.price }}<br>
            Stock: {{ product.stock }}<br>
            Category: {{ product.category.name }} <br />
        </li>
        {% endfor %}
    </ul>

    {% else %}
    <p>No products available.</p>
    {% endif %}
</body>
</html>